[Desktop Entry]
Name=Obsidian
Comment=Knowledge base on top of a local folder of Markdown files
Exec=obsidian %U
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
