[Desktop Entry]
Name=Grok Bot
Comment=Grok Bot desktop agent
Exec=grok-bot %U
TryExec=grok-bot
Icon=grok-bot
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/grokbot;x-scheme-handler/sand;
StartupWMClass=grok-bot
StartupNotify=true
Keywords=Grok;AI;Agent;
